body {
    background-color: #272822;
}

h1, h2, h3 {
    color: white;
    font-size: 30px;
    font-weight: 300;
    font-family: "Helvetica Neue";
}

.container {
    text-align: center;
}

.trip-date h2 {
    margin-top: 8px;
}

#map {
    padding-top: 20px;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

#boroughs {
    stroke: grey;
    stroke-width: 2px;
    fill: white;
}